[Unit]
Description=CO2-Mini Service
StopWhenUnneeded=yes
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/co2logger
ExecStop=/usr/bin/pkill co2logger 
Restart=on-failure