[Unit]
Description=CO2-Mini Service
StopWhenUnneeded=yes
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/co2logger /etc/co2mon/configs.json
Restart=on-failure

